<!DOCTYPE HTML>
<html>
	<head>
		<title>CourseMi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Biology Course</h1>
						<p>Professor George Wolf</p>
						<ul class="actions">
							<li><a href="index.html" class="button">Home</a></li>
						</ul>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
						<section id="content" class="main">
							<span class="image main"><img src="images/rodion-kutsaev-956-unsplash.jpg" alt="" /></span>
							<button class="btn btn-secondary btn-block" onclick="openText()">Lecture 1</button>
							<div class="lectrue"></div>re-on
							<p class="mt-2"><strong>First Lecture:</strong> On Jan 6, 2017</p>
							<button class="btn btn-success">Watch Now</button>
							<button class="btn btn-primary">Download</button><br>
							<h6 class="mt-3"><strong>Topics:</strong></h6>
							<small>Thinkwell's Biology covers all of the material from a typical two-semester college-level biology course. Taught by Emmy Award-winning biology teacher George Wolfe, it has the rigor necessary for a general biology course for biology majors. In fact, because it so clearly communicates even complicated topics, it is often used in introductory college biology courses, as well. Using Thinkwell's Biology as a study aid makes sure you'll be prepared to get the most out of your biology class. And it's better than a tutor because it's available 24/7 for one fixed price, instead of by the hour.</small><br>
							<button class="btn btn-info btn-sm mt-4 mb-2">PDF</button>
						</section>

					</div>

				<!-- Form -->
				<section>
					<h2>Send Message to Teacher</h2>
					<form method="post" action="#">
						<div class="row uniform">
							<div class="6u 12u$(xsmall)">
								<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
							</div>
							<div class="6u$ 12u$(xsmall)">
								<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
							</div>
							<div class="12u$">
								<div class="select-wrapper">
									<select name="demo-category" id="demo-category">
										<option value="">Classes</option>
										<option value="1">Manufacturing</option>
										<option value="1">Shipping</option>
										<option value="1">Administration</option>
										<option value="1">Human Resources</option>
									</select>
								</div>
							</div>
							<div class="4u 12u$(small)">
								<input type="radio" id="demo-priority-low" name="demo-priority" checked>
								<label for="demo-priority-low">Low</label>
							</div>
							<div class="4u 12u$(small)">
								<input type="radio" id="demo-priority-normal" name="demo-priority">
								<label for="demo-priority-normal">Normal</label>
							</div>
							<div class="4u$ 12u$(small)">
								<input type="radio" id="demo-priority-high" name="demo-priority">
								<label for="demo-priority-high">High</label>
							</div>
							<div class="6u 12u$(small)">
								<input type="checkbox" id="demo-copy" name="demo-copy">
								<label for="demo-copy">Email me a copy</label>
							</div>
							<div class="12u$">
								<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="Send MessagesS" class="special" /></li>
								</ul>
							</div>
						</div>
					</form>
				</section>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Aliquam sed mauris</h2>
							<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
							<ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<h2>UVA</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>1234 Somewhere Road &bull; Charlesville, VA 00000 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>(000) 000-0000 x 0000</dd>
								<dt>Email</dt>
								<dd><a href="#">information@untitled.tld</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>