<!DOCTYPE HTML>
<html>
	<head>
		<title>CourseMi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/logo.svg"  /></span>
						<h1>CourseMi</h1>
						<p>Learning Mangement Site <a href="index.html"></a> <a href="index.html"></a></p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<img src="images/courses.png" height="40" width="40"/>
							<li><a href="#intro" class="active">Profile</a></li>
							<li><a href="#second">Courses</a></li>
							<img src="images/gradeBook.png" height="40" width="40"/>
							<li><a href="#third">Gradebook</a></li>
							<li><a href="#seven" class="active">Evaluations</a></li>
							<!--<li><a href="#third">Messaging</a></li>-->
							<li><a href="#fourth">Notes</a></li>
							<li><a href="#sixth">Calendar</a></li>
							<li><a href="#fifth">Rotations</a></li>


						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Welcome John!</h2>
										</header>
										<p>Hope your enjoying your classwork.<span> <br /></span>Don't Forget about your exam on the April 14th!</p>
										<p></p>
										<ul class="actions">
											<li><a href="generic.html" class="button">Profile Settings</a></li>
										</ul>
									</div>
									<span class="image"><img src="images/Setting_img_Profile.png" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="seven" class="main special">
								<header class="major">
									<h2>Evaluations</h2>
								</header>
								<div class="spotlight">
									<div class="content">
										<header class="major">
										<span class="image"><img src="images/mohammed-elgassier-557989-unsplash.jpg" alt="" /></span>
										<br>
											<p>“Live as if you were to die tomorrow. Learn as if you were to live forever.”
											</p>
										</header>
										<header class="major">
										<span class="image"><img src="images/aatik-tasneem-138230-unsplash.jpg" alt="" /></span>
										<br>
											<p>“The more that you read, the more things you will know. The more that you learn, the more places you'll go.”
											</p>
										</header>

									</div>
									</div>
							</section>

						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major">
									<h2>Current Courses</h2>
								</header>
								<ul class="statistics">
									<li class="style1">
										<span class="icon fa-code-fork"></span>
										<strong>5,120</strong> Plastic Surgery
									</li>
									<li class="style2">
										<span class="icon fa-folder-open-o"></span>
										<strong>8,192</strong>Hematology
									</li>
									<li class="style3">
										<span class="icon fa-signal"></span>
										<strong>2,048</strong> Health Care Policy
									</li>
									<li class="style4">
										<span class="icon fa-laptop"></span>
										<strong>4,096</strong> Social Issues in Medicine
									</li>
									<li class="style5">
										<span class="icon fa-diamond"></span>
										<strong>1,024</strong> Pulmonary System
									</li>
								</ul>
								<p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
								<footer class="major">
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>

						<!--Third Section-->
						<section id="third" class="main special">
							<header class="major">
								<h2>Quick  Glance  Gradebook</h2>
								<p>Heres a Look at your progress within your coruses.</p>
							</header>
							<ul class="statistics">
								<li class="style1">
									<span class="icon fa-code-fork"></span>
									<strong>A+</strong> Biology
								</li>
								<li class="style2">
									<span class="icon fa-folder-open-o"></span>
									<strong>B-</strong> Clinical Rotations
								</li>
								<li class="style3">
									<span class="icon fa-signal"></span>
									<strong>B+</strong> Nutrition
								</li>
								<li class="style4">
									<span class="icon fa-laptop"></span>
									<strong>4,096</strong> Biometric Testing
								</li>
								<li class="style5">
									<span class="icon fa-diamond"></span>
									<strong>1,024</strong> Phyisology
								</li>
							</ul>
							<p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
							<footer class="major">
								<ul class="actions">
									<li><a href="gradebook.html" class="button">Learn More</a></li>
								</ul>
							</footer>
						</section>
						<!--Third Section-->

						<!-- Fourth Section -->
						<section id="fourth" class="main special">
							<header class="major">
								<h2>Notes</h2>
							</header>
							<div class="spotlight">
								<div class="content">
									<header class="major">
										<h2>Access your Notes</h2>
									</header>
								</div>
								<span class="image"><img src="images/OneNote.png" alt="" /></span>
							</div>
						</section>

						<!-- Fourth Section -->
						<section id="sixth" class="main special">
							<header class="major">
								<h2>Calendar</h2>
							</header>
							<div class="spotlight">
								<div class="content">
									<header class="major">
										<h2>Access your Calendar</h2>
									</header>
								</div>
								<span class="image"><img src="images/google-calendar-logo.jpg" alt="" /></span>
							</div>
						</section>


						<!-- First Section -->
						<section id="fifth" class="main special">
							<header class="major">
								<h2>Supervised Clinical Clerkship Rotations</h2>
							</header>
							<ul class="features">
								<li>
									<span class="icon major style5 fa-diamond"></span>
									<h3>Ambulatory Internal Medicine Clerkship Rotation</h3>
									<p>The ambulatory component of the internal medicine clerkship offers an introduction to office-based and subspecialty medicine. This four-week clinical rotation is divided evenly between the general internal medicine clinic and a subspecialty selective of your choice.</p>
									<a href="generic.html" class="button">Rotation Info</a>
								</li>
								<li>
									<span class="icon major style5 fa-diamond"></span>
									<h3>Obstetrics & Gynecology Clerkship Rotation</h3>
									<p>The ambulatory component of the Obsterics medicine clerkship offers an introduction to office-based and subspecialty medicine. This four-week clinical rotation is divided evenly between the general internal medicine clinic and a subspecialty selective of your choice.</p>
									<a href="generic.html" class="button">Rotation Info</a>
								</li>
								<li>
									<span class="icon major style5 fa-diamond"></span>
									<h3>Ambulatory Internal Medicine Clerkship Rotation</h3>
									<p>The ambulatory component of the internal medicine clerkship offers an introduction to office-based and subspecialty medicine. This four-week clinical rotation is divided evenly between the general internal medicine clinic and a subspecialty selective of your choice.</p>
									<a href="generic.html" class="button">Rotation Info</a>
								</li>
							</ul>
						</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Aliquam sed mauris</h2>
							<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<h2>Etiam feugiat</h2>
							<dl class="alt">
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>